body {    /*styling the body*/
    font-family: Arial, sans-serif;
    background-color:#0485fe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.title{
    color: #f2f2f2;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background-color:#333333;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    padding: 20px;
    text-align: center;
    margin: 5px 10px ;
}

.certificates:has(figure:hover)
figure:not(:hover) {
    filter: blur(4px);
}
.certificates {
    display: flex;
    gap: 120px;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px ;
    padding: 20px;
    
}

figure {
    text-align: center;
    margin: 0;
    padding: 10px;
    transition: all 150ms ease-in-out;
}

figure::before {
    content: "";
}


img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 8px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}