/* styles.css */
body {    /*styling the body*/
    font-family: Arial, sans-serif;
    background-color:#0485fe;
}

.navbar { /*styling the navigation bar*/
    background-color: #333333;
    overflow: hidden;
    text-align: center;
    border-radius: 736px;
    transition: 0.4s ease-in-out; 
}

.navbar:hover { /*what happens when hover at the navigation bar*/
    background: linear-gradient(to top,#333333, #f2f2f2);  
}

.home {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s ease-in-out;;
   
}

.home:hover{
    background-color: #f2f2f2;
    color: #333333;
    background: linear-gradient(to top,#333333, #f2f2f2);
}

.home:active{
    background-color: #000000;
    color: white;
}

.studies {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.studies:hover{
    background-color: #f2f2f2;
    color: #333333;
    background: linear-gradient(to top,#333333, #f2f2f2);
    transition: 0.4s ease-in-out;
}

.studies:active{
    background-color: #000000;
    color: white;
}

.services {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.services:hover{
    background-color: #f2f2f2;
    color: #333333;
    background: linear-gradient(to top,#333333, #f2f2f2);
}

.services:active{
    background-color: #000000;
    color: white;
}

.contact{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.contact:hover {
    background-color: #f2f2f2;
    color: #333333;
    background: linear-gradient(to top,#333333, #f2f2f2);
    
}

.contact:active { 
    background-color: #000000;
    color: white;
}

.introduction { /*styling the introductiom*/
    color: #f2f2f2;
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background-color:#333333;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    padding: 20px;

}

.introduction:hover { /* what happens when hover*/
    background: linear-gradient(to top,#333333, #f2f2f2);
    transform: translateY(-10px);
    color: #333333;
}

.popup-content { /* styling the popup that coms after taping on the contact link*/
    display: none;
    position: fixed;
    left: 80%;
    top: 15%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #585757;
    padding: 40px 20px 40px 20px;
    z-index: 1000;
    border-radius: 50PX;
}
.popup-content .close { /* what happens when we close it*/
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}


.social-container{
    display: flex;
    gap: 20px;
}
.social-container a{
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);


}
.social-container a svg{
    height: 32px;

}

.social-container a::before{
    content: attr(data social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30PX) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);


}
.social-container a:hover{
    background-color: var(--accent-color);
    fill: white;
}
.social-container a::after{
    content: '';
    position:absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.social-container a svg::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.social-container a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;

}


.text-box {
    display: inline-block;
    padding: 20px 30px 20px 30px;
    border: none;
    line-height: 1.5; 
    background-color: #333333;
    border-radius: 50px;
    color: #f2f2f2; 
    transition: 0.4s ease-in-out;

}

.text-box:hover{
    background: linear-gradient(to top,#333333, #f2f2f2);
    color: #333333;
    transform: translateY(-10px);
    border: none;


}



